// Fonts
@import url('https://fonts.googleapis.com/css?family=Barrio|Lora');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
// Libraries
@import "libraries/neat/neat";
@import "libraries/bourbon/bourbon";
@import "libraries/saffron/saffron";
// Sass Components
@import "base/index";

html, body {
  height: 100%;
}

h1 {
  text-align: center;
  font-family: $stack-cinzel;
}

h2 {
  @extend %rotate;
  position: relative;
  top: 1000px;
}

hr {
  @extend %opacity;
}

p {
  font-family: $stack-lora;
  text-align: center;
}

.exit {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 70px;
}

.grow {
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.heart {
  display: block;
  margin: 0 auto;
  width: 30px;
}

.image {
  width: 300px;
}

// Columns
.columns {
  @extend %flex;
}

.column {
  width: 200px;
  border-right: 2px solid $black;
  background: $blush;
  flex: .2;
}

.mainColumn {
  flex: 2;
}

// Gallery
.box {
  width: 25%;
  height: 500px;
  flex-grow: 1;
}

.gallery {
  @extend %flex;
  flex-wrap: wrap;
}

#imageOne {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/hex.jpg');
}

#imageTwo {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/eyelashes.jpg');
}

#imageThree {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/cat-eyes.jpg');
}

#imageFour {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/skeleton.png');
}

#imageFive {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/butterfly.jpg');
}

#imageSix {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/big-hair.jpg');
}

#imageSeven {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/dress.jpg');
}

#imageEight {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/stairs.jpg');
}

#imageNine {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/wings.jpg');
}

#imageTen {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/wild.jpg');
}

#imageEleven {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/eyeliner.jpg');
}

#imageTwelve {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/jewelry.jpg');
}

#imageThirteen {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/twins.png');
}

#imageFourteen {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/fluff.jpg');
}

#imageFifteen {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/tatts.jpg');
}

#imageSixteen {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/back.jpg');
}

#imageSeventeen {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/lipgloss.jpg');
}

#imageEighteen {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/back3.jpg');
}

#imageNineteen {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/stand-tall.jpg');
}

#imageTwenty {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/gloves.jpg');
}

#imageTwentyOne {
  @extend %align;
  @extend %image;
  background-image: url('#{$path-img}/taped.jpg');
}
