// Fonts
@import url('https://fonts.googleapis.com/css?family=Anton|Molle:400i');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Barrio|Lora');
// Libraries
@import "libraries/neat/neat";
@import "libraries/bourbon/bourbon";
@import "libraries/saffron/saffron";
// Sass Components
@import "base/index";

html, body {
  height: 100%;
}

h2 {
  @extend %rotate;
  position: relative;
  top: 1000px;
}

hr {
  @extend %opacity;
  border: 1px solid $lilac;
}

p {
  font-family: 'Lora', serif;
  text-align: center;
}

span {
  color: $lilac;
}

.blur  {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.exit {
  position: absolute;
  right: 6px;
  width: 30px;
  top: 10px;
}

.grow {
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.heart {
  display: block;
  margin: 0 auto;
  width: 20px;
}

.image {
  width: 300px;
}

.post {
  @extend %text;
  @extend %centered;
  display: none;
}

// Columns

.columns {
  @extend %flex;
}

.column {
  @extend %opacity;
  width: 200px;
  border-right: 2px solid $black;
  background: $timberwolf;
  flex: .2;
}

.mainColumn {
  flex: 2;
}

#open {
  width: 2em;
}

// Gallery

.box {
  width: 25%;
  height: 500px;
  flex-grow: 1;
}

.gallery {
  @extend %flex;
  flex-wrap: wrap;
}

#imageOne {
  @extend %image;
  background-image: url('#{$path-img}/eyes.jpg');
}

#imageTwo {
  @extend %image;
  background-image: url('#{$path-img}/light.jpg');
}

#imageThree {
  @extend %image;
  background-image: url('#{$path-img}/color.jpg');
}

#imageFour {
  @extend %image;
  background-image: url('#{$path-img}/skeleton.png');
}

#imageFive {
  @extend %image;
  // @extend %hover;
  background-image: url('#{$path-img}/kate.jpg');
}

#imageSix {
  @extend %image;
  background-image: url('#{$path-img}/mask.jpg');
}

#imageSeven {
  @extend %image;
  background-image: url('#{$path-img}/eyelashes.jpg');
}

#imageEight {
  @extend %image;
  background-image: url('#{$path-img}/bun.jpg');
}

#imageNine {
  @extend %image;
  background-image: url('#{$path-img}/leather.jpg');
}

#imageTen {
  @extend %image;
  background-image: url('#{$path-img}/wild.jpg');
}

#imageEleven {
  @extend %image;
  background-image: url('#{$path-img}/eyeliner.jpg');
}

#imageTwelve {
  @extend %image;
  background-image: url('#{$path-img}/black.jpg');
}

#imageThirteen {
  @extend %image;
  background-image: url('#{$path-img}/twins.jpg');
}

#imageFourteen {
  @extend %image;
  background-image: url('#{$path-img}/vintage.jpg');
}

#imageFifteen {
  @extend %image;
  background-image: url('#{$path-img}/piercing.jpg');
}

// Mobile Media Query
@media only screen
and (max-width: 1200px) {
  .column {
    display: none;
  }
}


@media only screen
and (max-width: 667px) {
  .gallery .box {
    width: 100%;
    height: 500px;
    background-size: contain;
  }

  .wrapper {
    display: table;
    margin: 0 auto;
  }

  //Modal//
  .ui.modal {
    border: 2px solid $black;
    width: 100%;
  }
}
