// Mobile Media Query
@media only screen
and (max-width: 1200px) {
  .column {
    display: none;
  }
}

@media only screen
and (max-width: 667px) {
  .gallery .box {
    width: 100%;
    height: 500px;
    background-size: contain;
  }

  .wrapper {
    display: table;
    margin: 0 auto;
  }

  //Modal//
  .ui.modal {
    border: 2px solid $black;
    width: 100%;
  }
}
