.modal {
  display: none;
  .image {
    display: block;
    margin: 0 auto;
    padding-top: 1em;
  }
  .info {
    background: $timberwolf;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    margin: 2em;
    padding: 1em;
  }
}

.ui.modal {
  // background: $lavenderGray;
  border: 2px solid $black;
  width: 500px;
}

.create {
  border: 2px solid $black;
  border-radius: 10px;
}
