.modal {
  display: none;
  .image {
    display: block;
    margin: 0 auto;
    padding-top: 1em;
  }
  .info {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 2em;
    padding: 1em;
  }
}

.ui.modal {
  width: 500px;
  background: $lavenderGray;
}

.create {
  border: 2px solid white;
  border-radius: 10px;
}
